body {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #464a4a;
  flex: 0 0 80px;
}

.preview-products {
  width: 90%;
  margin: 0 auto;
  flex: 1 0 auto;
}

.preview-products img {
  padding-left: 5px;
  padding-top: 5px;
  width: 300px;
  vertical-align: bottom;
}